.signUp {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 80px;
  display: flex;
  justify-content: center;
}

#title {
  padding: 5px;
  font-size: 30px;
  font-family: "Segoe UI Semibold", serif;
}

.container {
  padding: 39px;
}

#border {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  width: 45%;
}

.input {
  height: 30px;
  background: inherit;
  color: white;
  font-size: 20px;
  border: none;
  width: 65%;
  border-bottom: 1px solid white;
}

.input:focus {
  outline: none;
}

.signUpButton {
  height: 45px;
  width: 15%;
  font-size: medium;
  background: #1DA1F2;
  color: white;
  border-radius: 10px;
  border: none;
}

#createAccount {
  padding: 5px;
}

#signUp {
  color: #1DA1F2;
  text-decoration: none;
}

#logo {
  padding: 5px;
}