.signUp {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#title {
  padding: 5px;
  font-size: 30px;
  font-family: "Segoe UI Semibold", serif;
}

.container {
  padding: 39px;
}

.input {
  height: 30px;
  background: inherit;
  color: white;
  font-size: 20px;
  border: none;
  width: 30%;
  border-bottom: 1px solid white;
}

.input:focus {
  outline: none;
}

#button {
  height: 45px;
  width: 15%;
  font-size: 20px;
  background: #1DA1F2;
  color: white;
  border-radius: 10px;
  border: none;
}

#createAccount {
  padding: 5px;
}

#signUp {
  color: #1DA1F2;
  text-decoration: none;
}

#logo {
  padding: 5px;
}