.top {
  display: flex;
  padding: 10px;
}

.namesContent {
  display: flex;
}

.username {
  padding-left: 2px;
  font-size: 16px;
  color: gray;
}

.contentAge {
  padding: 4px;
  font-size: 13px;
  color: gray;
}

.body {
  white-space: pre-line;
  padding: 0px 60px 0px 60px;
  cursor: pointer;
  margin: 0;
}

.actionElements {
  padding: 15px;
  display: flex;
}

#actions {
  display: flex;
  justify-content: space-evenly;
}

.content {
  border-bottom: 1px solid gray;
  text-align: left;
}

.content:hover {
  background: #333840;
}