#leftNavBar {
  background: inherit;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 10;
  width: 20%;
  height: 100%;
  border-right: 1px solid gray;
}

.routes {
  font-size: 20px;
}

.navBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 31%;
}

.navDestiny {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  border-radius: 15px;
}

.navDestiny:hover {
  background-color: #333840;
}

#tweetButton {
  background: #1DA1F2;
  color: white;
  width: 70%;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-family: "Segoe UI Semibold", serif;
  cursor: pointer;
}

#formPopup {
  display: none;
  left: 25%;
  top: 0;
  top: 100px;
  position: fixed;
  border: 1px solid gray;
  width: 40%;
  height: fit-content;
  min-height: 300px;
  background: #26292d;
  border-radius: 10px;
  overflow: hidden;
}

#tweetBox {
  width: 80%;
  background: inherit;
  padding: 10px;
  color: white;
  font-size: 22px;
  border: 0;
  resize: none;
  border-bottom: 1px solid gray;
}

#tweetBox:focus {
  outline: 0;
}

#post {
  background: #1DA1F2;
  right: 10px;
  color: white;
  width: 75px;
  height: 30px;
  border-radius: 10px;
  bottom: 20px;
  position: absolute;
  cursor: pointer;
  border: none;
}

::placeholder {
  color: white;
}

#buttonClose {
  background: #26292d;
  left: 10px;
  color: white;
  border-radius: 10px;
  width: 75px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  border: none;
}